@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

.ford{
    font-family: 'Racing Sans One';
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}